.Meow{
    width:30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-right: 2px;
    vertical-align: middle;
}

input{
    border:none;
    align-items: top;
    vertical-align: middle;   
}

button{
    background-color: rgb(29, 155, 240);
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    border-radius: 13.75px;

}