p{
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.Title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.Info{
    font-size:28px;
}